<div id="open1" class="overlay">
  <div class="overlay__dialog">
    <a href="#close" class="overlay__close">x</a>
    <blockquote>
      <p>When we were selected as one of the providers of a project for the city of Turku, we saw an opportunity to push our openess to new extremes. What if all three agencies involved together and share the budget equally and manage the work together?</p>
      <p>It was a bold move and it worked out well. All team members were treated equally regardless of company. It also kept our code quality high, we knew that our competition would be reviewing our code, we wouldn't want to take shortcuts or leave technical debt.</p>
    </blockquote>

    <div class="blockquote-cite"><img class="blockquote-cite__image" src="https:\/\/hub.wunder.io\/sites\/default\/files\/styles\/medium\/public\/pictures\/juha-niemi.png?itok=hOBMvr2S"/>
      <h3 class="blockquote-cite__name">Juha Niemi, Finland</h3>
    </div>
    <a class="overlay__action button" target="_blank" href="http://www.wunderkraut.com/contact/turku">Find out more</a>
  </div>
</div>
