<a href="#{{include.id}}" class="story-teaser">
  <blockquote>
    <div class="story-teaser__image ">
      <div class="blockquote-cite blockquote-cite--{{include.author_name | slugify}}"><img class="blockquote-cite__image" src="{{include.author_image}}"/>
      </div>
    </div>
    <p>{{include.teaser}}</p>
  </blockquote>
  <p class="story-teaser__action">Read more</p>
</a>

<div id="{{include.id}}" class="overlay">
  <div class="overlay__dialog">
    <a href="#close" class="overlay__close">x</a>
    <blockquote>
       {{include.content}}
    </blockquote>

    {% if include.cta_link %}
      <a class="overlay__action button" target="_blank" href="{{include.cta_link}}">Find out more</a>
    {% endif %}
    <div class="blockquote-cite blockquote-cite--{{include.author_name | slugify}}"><img class="blockquote-cite__image" src="{{include.author_image}}"/>
      <h3 class="blockquote-cite__name">{{include.author_name}}</h3>
    </div>
  </div>
</div>
