<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <script src="https://use.typekit.net/fgo7lfj.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <link rel="stylesheet" href="./css/styling.css">
  </head>
  <body>
    <header class="site-header">
      <div class="site-header__primary">
        <h1 class="logo">Wunder Principles</h1>
      </div>
    </header>
    <main class="site-inner">
      {{ content }}
    </main>

    <script src="./js/marcj-css-element-queries/src/ResizeSensor.js"></script>
    <script src="./js/marcj-css-element-queries/src/ElementQueries.js"></script>
    <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
  </body>
</html>
